

h1{
    font-size: 3vh;
    font-family:'Poppins';
    font-weight:300
}
.h1_heroSection{
    text-align: center;
    
}

h2{
    font-size: 2.5vh;
    font-family:'Poppins';
    color:#009688;
    font-weight:800
}

p{
    font-size:1.5vh;
    font-family:'Poppins';
    font-weight: 400;
}

h3{
    font-size: 1.5rem;
    font-family:'Poppins';
    font-weight:300;
    color:#009688;

}









