
.text{
    font-size:2rem
}
.site-layout {
    margin-top: 4rem;
    background-color: white;
}

body{
    background-color: white;
}

.logo{
    background-color: white;

}

.header{
    text-align:center;
    
}


