

h1 {
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: 300;
    
}

.h1_heroSection {
    font-size: 2.25rem;
    font-family: 'Poppins';
    font-weight: 600;
   


}

.h1_heroSection_1 {
    text-align: center;
    flex-basis:content;
   
}
.h1_heroSection_1>h1{
    font-size: 2.25rem;
    font-family: 'Poppins';
    font-weight: 600;
    color:#00968891
}



h2 {
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: 400;
    width:fit-content;
}

.pHelp {
    font-size: 1.25rem;
    font-family: 'Roboto';
    font-weight: 300;
    display: flex;
    -webkit-font-smoothing: auto;
    padding-left: 10px;
    text-align: center;
    
}

p{
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 400;
}

h3 {
    font-size: 1.25rem;
    font-family: 'Poppins';
    font-weight: 300;
    color: black;
    width:max-content;
    border-bottom:3px dashed #009688

    

}

button {
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645; 0.045; 0.355; 1);
    user-select: none;
    touch-action: manipulation;
    padding: 4;
    border-radius:5px;
    margin-right:15px; 
    background: white;
    font-family: 'Poppins';
    text-decoration: underline;
    height: fit-content;
   
    
}

.clientText{
    font-size: 1.75rem;
    font-family: 'Poppins';
    font-weight: 400;
    display: flex;
    text-align: justify;

}

p,h1,h2,h3,h4,span{
    -webkit-font-smoothing: antialiased
}


.nutrientD{
font-size:.75rem;
color:#009688
}

.superSpan{

    vertical-align: sub;
    font-size: 1.75rem;
    margin-left: 2px;
    font-family:'Roboto';
    font-weight:300;
    color:black;

}

h2.superH2{
    font-size: 2.25rem;
    font-family: 'Poppins';
    color: #009688;
    font-weight: 800;
    display:flex;
    justify-content: center;
}

h4{
    font-size:1.5rem;
    color:#009688;
    font-family:'Roboto'
}



.h1Hero{
    font-size:3.25rem;
    font-family:'Poppins';
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
   .h1Hero {
    font-size:2rem;
    }
  }

.heroSpan{
    margin-bottom:55px;
    border-bottom:2.5px solid black;

}

.nutritionalLabel>p{
    font-size:.75rem
}