.text {
  font-size: 2rem;
}

.site-layout {
  margin-top: 4rem;
  background-color: white;
}

body {
  background-color: white;
}

.logo {
  background-color: white;
}

.heroSection {
  margin-top: 10vh;
}

.navbar {
  display: flex;
  justify-content: center;
}

.hero {
  display: contents;
}

.solutionSection {
  border-radius: 3px;
  color: white;
}

.sectionTitle {
  display: flex;
  justify-content: center;

}

.phyEquation {
  padding-top: 25px;
  font-weight: 300;
  margin-left: 5px;
  font-size: 1rem;
}

.contactSection {
  background-color: #020024;
  background-image: linear-gradient(45deg,
      #020024 0%,
      #009688 50%,
      #8c8c8c 100%);
}

.solutionSection {
  background-image: linear-gradient(45deg,
      #020024 0%,
      #009688 50%,
      #8c8c8c 100%);
  margin-top: 2rem;
  display: flex;
    align-items: center;
    max-width: max-content;
   
}

.linkSocial {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.divClient {
  height: 15.3rem;

}

.fsi {
  font-size: 1rem;
  color: '#009688'
}

.sectionHeader {
  display: flex;
  justify-content: start;

}

.sectionHeader>p {
  font-size: 1.25rem;
  font-weight: 300;
}


.serviceSection {
  display: flex;
  flex-wrap: wrap;
  margin-top: 13px;
  align-items: baseline;
}

.serviceSection>p {
  text-align: start;
}

.treeSolutions {
  display: flex;
  justify-content: space-evenly;
}



.needColumn{
  height:195px;
  display:flex;
  justify-content: center;
  align-items: center;

}

.serviceSection_2{
  display:'flex';
  
}

.heroHeader{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.needItems{
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourInstitution{
  display:flex;
  justify-content: end;
  align-items: center;
}

.industrySelector{
  display:flex;
  align-items: center;
}

.selectSolution{
  display:flex;
  justify-content: center;
  align-items: center;
}

.nutritionalLabel{
  padding:25px;
  border:1px solid black
}

