


h1{
    font-size: 2rem;
    font-family:'Poppins'
}

.heroSection{
    margin-top:2rem
}

p{
    font-size:1rem;
    font-family:'Roboto'
}

.navbar{
    display:flex;
    justify-content: center;
}

.hero{
    display: contents;
}